{
    "env": {
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "plugins": [
        "node",
        "babel"
    ],
    "rules": {
        "no-unused-expressions": 0,
        "babel/no-unused-expressions": 1,
        "prefer-destructuring": [
            "error",
            {
                "object": true,
                "array": false
            }
        ],
        "prefer-const": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ]
    }
}