{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "plugins": [
        "node"
    ],
    "rules": {
        "prefer-destructuring": [
            "error",
            {
                "object": true,
                "array": false
            }
        ],
        "prefer-const": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "double"
        ]
    }
}